.header {
  width: 100%;
  height: 40px;

  position: sticky;
  z-index: 1;
  top: 0;

  background-color: var(--primary);
  color: var(--offset);
  border-bottom: 5px solid var(--primary-dk);
  font-family: var(--header-font);

  display: flex;
  justify-content: center;
  align-items: center;
}
