html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  font-family: var(--main-font);
  color: var(--secondary);
  background-color: var(--offset);
}

:root {
  --main-font: 'Lucida Grande', serif;
  --header-font: Roboto, sans-serif;
  --primary: #ff5251;
  --primary-dk: #e05343;
  --offset: #faf8f7;
  --secondary: #53575c;
  --secondary-lt: #d4cfcd;
}
